[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
  ignore = dirty
[submodule ".vim/bundle/tslime.vim"]
	path = .vim/bundle/tslime.vim
	url = https://github.com/jgdavey/tslime.vim.git
  ignore = dirty
[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/sorin-ionescu/prezto.git
  ignore = dirty
[submodule ".vim/plugged/parsec.vim"]
	path = .vim/plugged/parsec.vim
	url = https://github.com/keith/parsec.vim
  ignore = dirty
[submodule ".vim/plugged/setcolors.vim"]
	path = .vim/plugged/setcolors.vim
	url = https://github.com/felixhummel/setcolors.vim
  ignore = dirty
[submodule ".vim/plugged/vim-colorschemes"]
	path = .vim/plugged/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
  ignore = dirty
[submodule ".vim/bundle/onedark"]
	path = .vim/bundle/onedark
	url = https://github.com/joshdick/onedark.vim
[submodule ".vim/bundle/vim-polyglot"]
	path = .vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule ".vim/bundle/vim-signify"]
	path = .vim/bundle/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule ".vim/bundle/lightline.vim"]
	path = .vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
